@import "@/styles/dana-font-face.css";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@utility container {
    @apply mx-auto;
}

@theme {
    /* fonts */
    --font-dana: "dana", serif;

    --color-primary-bg: #fff;
    --color-primary-txt: var(--color-slate-900);
}

.dark {
    --color-primary-bg: oklch(12.9% 0.042 264.695);
    --color-primary-txt: var(--color-slate-50);
}

@layer base {
    body {
        @apply font-dana font-normal text-base tracking-wide bg-primary-bg text-primary-txt;
    }
    h1 {
        @apply text-5xl font-bold;
    }
    h2 {
        @apply text-3xl font-bold;
    }
    h3 {
        @apply text-2xl font-bold;
    }
    a {
        @apply font-medium hover:opacity-70 transition-all;
    }
}
