@import "@/styles/dana-font-face.css";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@utility container {
    @apply mx-auto;
}

@theme {
    /* fonts */
    --font-dana: "dana", serif;

    /* colors */
    --color-primary-bg: #fff;
    --color-primary-txt: var(--color-slate-900);

    /* you should changes below colors in light theme */
    --color-header-bg: #1E1E1E;
    --color-grey-10: #1A1A1A;
    --color-grey-15: var(--color-neutral-800);
    --color-grey-60: var(--color-neutral-400);
}

.dark {
    --color-primary-bg: var(--color-zinc-900);
    --color-primary-txt: var(--color-slate-50);
    --color-header-bg: #1E1E1E;
    --color-grey-10: #1A1A1A;
    --color-grey-15: #262626;
    --color-grey-60: var(--color-neutral-400);
}

@layer base {
    body {
        @apply font-dana font-normal text-base tracking-wide bg-primary-bg text-primary-txt;
    }
    h1 {
        @apply text-5xl font-bold;
    }
    h2 {
        @apply text-3xl font-bold;
    }
    h3 {
        @apply text-2xl font-bold;
    }
    a {
        @apply font-medium hover:opacity-70 transition-all;
    }
}

@layer components {
    .primary-btn {
        @apply rounded-lg px-3 py-2.5 bg-violet-600 cursor-pointer hover:opacity-85 transition-all;
    }
    .secondary-btn {
        @apply rounded-lg px-3 py-2.5 border bg-grey-10 border-grey-15 cursor-pointer hover:opacity-75 transition-all;
    }
}